<div class="col-md-2 mb-4">
    <div class="col-md-12 col-md-offset-10 bg-mishmash text-white text-center">
        @Model.Name
        <hr class="bg-white w-75 hr-2" />
        @Model.ChannelType
        <hr class="bg-white w-75 hr-2" />
        @Model.FollowingCount Following
        <hr class="bg-white w-75 hr-2" />
        <div class="container-fluid">
            <a href="/channels/follow?channelId=@Model.ChannelId" class="col-md-2 text-white">Follow</a>
            <a href="/channels/details?channelId=@Model.ChannelId" class="col-md-2 offset-md-1 text-white">Details</a>
        </div>
    </div>
</div>
