<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/Resources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Resources/js/bootstrap.min.js" />
    <link rel="stylesheet" href="/Resources/js/jquery-3.3.1.min.js" />
    <link rel="stylesheet" href="~/Resources/js/popper.min.js" />
</head>
<body>
    @RenderBody

    <footer>
        <hr style="height: 2px" class="bg-success"/>
        <p align="center"><strong>CopyRight &copy; Sanity Design Studios. All rights reserved.</strong></p>
    </footer>
</body>
</html>