<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand text-light">IRunes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active text-light" href="/home/index">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link text-light" href="/albums/all">Albums</a>
            <a class="nav-item nav-link text-light" href="/users/logout">Logout</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="@Model.Cover" class="img-thumbnail" alt="album cover" />
            <h3 align="center">Name: @Model.Name</h3>
            <h3 align="center">Price: $ @Model.Price</h3>
            <p> <a href="/Tracks/Create?albumId=@Model.AlbumId" class="btn btn-primary bg-success float-left" role="button"> Create Track</a> </p>
            <p> <a href="/Albums/All" class="btn btn-primary bg-success float-right" role="button">Back To All</a> </p>
        </div>
        <div class="col">
            <h3>Tracks</h3>

            @Model.Collection.TrackAlbum(<li>@Item</li>)
        </div>
    </div>
</div>