<div style="display: @Model.IsUser">
    <h2 class="text-center text-torshia">Welcome,@Model.Username!</h2>
    <h2 class="text-center text-torshia">Have a nice tasking experience!</h2>
    <hr class="hr-2 bg-torshia" />
    <div class="tasks-holder">
        <div class="tasks-row row style="margin-right: 4.166666667%">
            @Model.Collection.Tasks(@Item)
        </div>
    </div>
</div>

<div style="display: @Model.IsAdmin">
    <h2 class="text-center text-torshia">Welcome,Admin-@Model.Username!</h2>
    <h2 class="text-center text-torshia">Enjoy your work!</h2>
    <hr class="hr-2 bg-torshia"/>
    <div class="tasks-holder align-content-start">
        <div class="tasks-row row" style="margin-right: 4.166666667%">
            @Model.Collection.Tasks(@Item)
        </div>
    </div>
</div>